<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navbar', {page: '/about'}) %>



      <div class="container mx-auto">

        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About Me</h1>
                <p class="py-6">Hello, my name is Lance Curio and I am currently studying at Seneca College</p>
              </div>
            </div>
          </div>

          <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
              <div class="border-2">
                <img src="https://www.esports.net/wp-content/uploads/2021/05/Gaming-career.jpg" alt="Video Game" class="w-full h-auto" />
              </div>
              <div class="border-2 p-4">
                <h2 class="text-2xl font-bold">About Me</h2>
                <p>
                    Hey there! I'm Lance Curio, a devoted Seneca College student studying computer programming and analysis.
                    I love gaming and music, so when I'm not deep in the world of coding and software development, you can 
                    find me enjoying those two things.</p>
              </div>
            </div>
          </div>
      </div>


</body>
</html>